@charset "utf-8";
/* CSS Document */

.text {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #444444;
}

.textdark {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
	text-indent: 0px;
	background-color: #000000;
	opacity:0.75;
	-moz-opacity:0.75;
	filter:alpha(opacity=75);
}
.subhead {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-large;
	text-transform: uppercase;
	color: #ccffff;
	background-color: #0066cc;
	padding: 10px;
	margin-left: 60px;
}
.smalltext {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #ffffff;
}
.headtext {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #CCCCCC;
}
.textflow {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: large;
	color: #006699;
	text-decoration: underline;
	background-color: #FFCC00;
	background-repeat: no-repeat;
	float: none;
	height: auto;
	width: auto;
	padding: 10px;
	text-align: center;
	border: 3px groove #E8B900;
}
body {
	background-color: #FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #ffffff;
}
.subheadtable {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
}

.subheadtablemed {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
}

.subheadtablegray {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: large;
	color: #777777;
	font-weight: bold;
}
.navig {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: lighter;
	text-transform: uppercase;
	color: #669999;
	text-align: right;
	text-indent: 100px;
}
/* CSS Document */

.textfield_effect    {
    /*we will first set the border styles.*/
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    /*we are now going <strong class="highlight">to</strong> add <strong class="highlight">in</strong> the shadow image that we created earlier*/
    background-image: url(back_field.gif);
    background-repeat: repeat-x;
    /*I am going <strong class="highlight">to</strong> add some text formatting of my own*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    width: 200px;
    height: 35px;
    }

/*we are now going <strong class="highlight">to</strong> <strong class="highlight">style</strong> <strong class="highlight">how</strong> the textfield will look when we
hover over it and when we actually have it selected*/

.textfield_effect:hover    {
    border-color: #64acd8;
    border-width: 1px;
    }

.textfield_effect:focus    {
    border-color: #64acd8;
    border-width: 1px;
    }

/*you may also like <strong class="highlight">to</strong> add some styles for the rest of the form*/

/*fieldset    {
    width: 400px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #036399;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
}
fieldset:hover    {
    border-color: #0ca0ff;
}
legend    {
    font-family: sans-serif;
    font-size: 18px;
    color: #097bc3;
    font-weight: bold;
}*/
.textwhite {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	text-indent: 0px;
}
.headtextdarker {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #666666;
	text-transform: uppercase;
	background-color: #ffffff;
	opacity:0.75;
	-moz-opacity:0.75;
	filter:alpha(opacity=75);
}
.headtextdarkersmaller {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #666666;
	background-color: #ffffff;
	opacity:0.75;
	-moz-opacity:0.75;
	filter:alpha(opacity=75);
}
.headtextwhiteblack {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #ffffff;
    background-color: #0066ab;
	padding: 3px;
}
.headtextlighter {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #ffffff;
}
.headtextdarkersmall {
	font-family: "Arial Narrow", "Franklin Gothic Demi Cond";
	font-size: x-small;
	color: #666666;
}
.subheadtablelarge {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: large;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
}
.textgray {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #cccccc;
	text-indent: 0px;
}

.textgraysmall {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #cccccc;
	
}

 .headtextdarkerlarger {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-large;
	color: #666666;
}





.main-area {
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    width:1000px;
    background-color:#0099CC;
    padding:16px;
}




.google-image-choices div.full-image {
    border: 1px solid #CCCCCC;
    height:100px;
    width:100px;
    margin: 5px;
    opacity: 0.7;
    overflow: hidden;
    padding: 2px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.google-image-choices div.selected {
    height:100px;
    width:100px;
    margin: 5px;
    opacity: 1;
    overflow: hidden;
    padding: 2px;

    border-color:red;
    border-width:3px;
}

.google-image-choices .google_image {
    max-height:98px;
    max-width:98px;
}

.google-image-choices {
    height: 110px;
    width: 500px;
}

.google-image-choices div {
    opacity:0.7;
}
.google-image-choices div:hover {
    opacity:1;
}

.local_result_lat {
    display:none;
}
.local_result_lng {
    display:none;
}
.local_result_url {
    display:none;
}

.hidden {
    display:none;
}

#view_tips .tip-tile {
    height:110px;
    width:110px;
    overflow:hidden;
    background-color:white;
    margin:10px;
}

#view_tips td.tip-container {
    background-color:white;
}

#view_tips .tip-tile:hover {
}

#view_tips .tip-tile .move-tip {
    background: transparent url(/images/movetip.gif) no-repeat;
    width: 19px;
    height: 19px;
    opacity: 0.3;
}
#view_tips .tip-tile:hover .move-tip {
    opacity: 0.7;
}
#view_tips .tip-tile .move-tip:hover {
    opacity: 1;
}

#view_tips .tip-tile .delete-tip {
    background: transparent url(/images/deletetip.gif) no-repeat;
    width: 19px;
    height: 19px;
    opacity: 0.3;
}
#view_tips .tip-tile:hover .delete-tip {
    opacity: 0.7;
}
#view_tips .tip-tile .delete-tip:hover {
    opacity: 1;
}

#view_tips .no-tip-tile {
    background-color:lightgray;
    height:110px;
    width:110px;
    overflow:hidden;
    padding:10px
}

#view_tips .droppable-active {
    background-color: lightblue;
}

#view_tips .full-tip-overlay {
	/* must be initially hidden */
	display:none;
    /*background-image:url(/images/overlay/white.png);*/

	/* place overlay on top of other elements */
	z-index:10000;

	/* styling */
	background-color:#333;

	width:675px;
    height:400px;
	/*min-height:200px;*/
	border:1px solid #666;

	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#view_tips .full-tip-overlay .close {
	background-image:url(/images/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

.ui-corner-all { 
-moz-border-radius: 4px; 
-webkit-border-radius: 4px; 
border-radius: 4px; 
}


#view_tips .edit-tip-overlay {
	/* must be initially hidden */
	display:none;

	/* place overlay on top of other elements */
	z-index:10000;

	/* styling */
	background-color:#333;

	width:950px;
	min-height:400px;
	border:1px solid #666;

	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#view_tips .edit-tip-overlay .close {
	background-image:url(/images/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

.local-search-container {
    position:absolute;
    background-color:white;
    display:none;
    border: 1px solid black;
    width:260px;
    color:black !important;
}
.local-search-container a {
    color:black !important;
}


.edit-tips-batch {
/* some decorations for the accordion root element */
    width: 100%;
}
/* accordion header */
.edit-tips-batch h2 {
	background: #ccc url(/images/h30.png) ;
	margin:0;
	padding:5px 15px;
	font-size:14px;
	font-weight:normal;
	border-bottom:1px solid #ddd;
	cursor:pointer;
}

/* currently active header */
.edit-tips-batch h2.current {
	cursor:default;
	background-color:#fff;
}

/* accordion pane */
.edit-tips-batch .tip-edit {
	display:none;
	padding:15px;
}

/* a title inside pane */
.edit-tips-batch .tip-edit h3 {
	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:16px;
	color:#999;
}

input.invalid {
    border-color:red;
    border-width:3px;
    border-style:solid;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: inline;
}


