
@charset "utf-8";

.text {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #444444;
}
.headtext {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #CCCCCC;
}
body {
	background-color: #FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #ffffff;
    height: 100%;
}
a { color: #ffffff; }
a:visited { color: #ffffff; }
/*a:hover { color: #fff; background-color:#000; }*/

.headtextlighter {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #ffffff;
}
.textgray {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #cccccc;
	text-indent: 0px;
}

.head2 {
    background-color: #0088ee;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: large;
    padding: 5px;
    text-transform:capitalize;
}







.local-search-launch {
    /*color: black;*/
}

.main-area {
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    width:1000px;
    background-color:#0099CC;
    padding:16px;
}


input.invalid {
    border: 3px solid red;
}
textarea.invalid {
    border: 3px solid red;
}


.fieldWithErrors {
    display: inline;
}
/*.fieldWithErrors {*/
  /*padding: 2px;*/
  /*background-color: red;*/
  /*display: inline;*/
/*}*/

.validation-error {
    font-size: smaller;
    color: red;
    font-weight:normal;
    text-transform:none;
    float:left;
}

.button-panel {
    /*display: table;*/
    /*width: 100%;*/
    text-align: right;
    margin: 20px;
    /*margin-bottom: 20px;*/
    /*margin-right: 40px;*/
}

.button-panel .button {
    font-size: large;
    color: #006699;
    text-decoration: underline;
    background-color: #FFCC00;
    /*float: right;*/
    padding: 10px;
    margin-left: 10px;
    border: 3px groove #E8B900;
    display: inline-block;
}



.qtip {
    z-index: 10003 !important;
}

.local_result_lat {
    display:none;
}
.local_result_lng {
    display:none;
}
.local_result_url {
    display:none;
}

.hidden {
    display:none;
}

/*
#view_tips .condition-row {
    height: 100px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid white;
}
#view_tips .condition-row .condition-label-container {
    width: 100px;
    height: 100%;
    background-color:#006699;
    float: left;
}
#view_tips .condition-row .condition-label {
    color: white;
    margin: 25px 10px;
}
#view_tips .condition-group-label {
    height: 30px;
    background-color:#006699;
    width: 100%;
    color: #CCCCCC;
}
*/

#edit_tips .new-tip-container {
    width: 100%;
    padding-right: 10px;
    position: relative;
}
#edit_tips .edit-tip-root .tip-name-area {
    display: inline-block;
    border: 5px solid blue;
    background-color: #0066CC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    /*float: left;*/
    /*width: 400px;*/
    position: relative;
    z-index:1000;
}
#edit_tips .edit-tip-root .tip-name-area > span {
    /*width:40%;*/
    /*display:inline-block;*/
}
#view_tips .edit-tip-root .tip-name-area .tip-name {
    /*width: 50%;*/
}
#edit_tips .edit-tip-root .tip-name-area .tip-cancel {
    display: none;
}
#edit_tips .edit-tip-root .tip-name-area .tip-save {
    display: none;
}
#edit_tips .edit-tip-root .tip-create, #edit_tips .edit-tip-root .load-info {
    display: none;
}
/*
#edit_tips .edit-tip-root.full .tip-name-area .tip-cancel {
    display: inline;
}
#edit_tips .edit-tip-root.full .tip-name-area .tip-save {
    display: inline;
}
*/
#edit_tips .edit-tip-root.full .tip-create, #edit_tips .edit-tip-root.full .load-info {
    display: inline;
}
#edit_tips .edit-tip-root.full .tip-name-area {
    border-bottom-color: #0066CC;
    -moz-border-radius-bottom-right: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

#edit_tips .edit-tip-root button.tip-update, #edit_tips .edit-tip-root button.tip-create {
    background-color:yellow;
    float:right;
    font-size:large;
    height:30px;
    width:200px;
}

#edit_tips .edit-tip-root .edit-area {
    /*height: 200px;*/
    display: none;
    border: 5px solid blue;
    background-color: #0066CC;
    margin-top:-5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*overflow: hidden;*/
    position: relative;
}
#edit_tips .edit-tip-root .edit-area .autosuggestions {
    /*height: 100%;*/
    width: 200px;
    height: 95%;
    overflow: hidden;
    /*background-color: #0099CC;*/
    float: left;
    /*position: relative;*/
}
#edit_tips .edit-tip-root .edit-area .autosuggestions .autosuggestions-body {
    margin: 5px;
    width: 190px;
}
#edit_tips .edit-tip-root .edit-area .autosuggestions .autosuggestions-body:hover {
    margin: 0;
    border: 5px solid green;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: #0077DD;
    z-index: 3;
    width: 300px;
}
#edit_tips .edit-tip-root .edit-area .autosuggestions ul {
    padding-left: 15px;
    margin: 5px 0;
}
#edit_tips .edit-tip-root .edit-area .autosuggestions ul a span.address {
    display: none;
}
#edit_tips .edit-tip-root .edit-area .autosuggestions .autosuggestions-body:hover ul {
    padding-left: 20px;
}
#edit_tips .edit-tip-root .edit-area .autosuggestions .autosuggestions-body:hover ul li {
    margin-top: 3px;
}
#edit_tips .edit-tip-root .edit-area .autosuggestions .autosuggestions-body:hover ul a span.address {
    display: inline;
    color: lightgray;
}



#edit_tips .edit-tip-root .edit-area .tip-edit-column {
    /*margin-left: 10px;*/
    /*background-color: #0099CC;*/
    height: 100%;
    width: 380px;
    float: left;
}
#edit_tips .edit-tip-root .edit-area .tip-edit-column-1 .input-row {
    overflow: hidden;
    zoom: 1;
    margin: 10px;
    height: 30px;
}

#edit_tips .edit-tip-root .edit-area .tip-edit-column-1 input {
    float: right;
}
#edit_tips .edit-tip-root .edit-area .tip-edit-column-1 label {
    float: left;
}
#edit_tips .edit-tip-root .edit-area .tip-edit-column-2 {
    padding: 10px;
}
#edit_tips .edit-tip-root .edit-area .tip-edit-column-2 textarea {
    margin-top: 3px;
    height: 80px;
}

#edit_tips .edit-tip-root .image-selection-area {
    /*height: 115px;*/
}
#edit_tips .edit-tip-root .image-selection-area > div {
    display: inline-block;
    vertical-align: top;
    /*height: 120px;*/
    margin-left: 5px;
}
#edit_tips .edit-tip-root .image-selection-area > div > .label {
    background-color: #0099CC;
    width: 100%;
    text-align: center;
    display: inline-block;
}
#edit_tips .edit-tip-root .image-selection-area .current-image {
    width: 100px;
    height: 110px;
}
#edit_tips .edit-tip-root .image-selection-area .current-image .file-upload {
    display: inline-block;
    width: 100px;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
}
/*#edit_tips .edit-tip-root .image-selection-area .current-image:hover .file-upload {
    display: inline-block;
}*/
#edit_tips .edit-tip-root .image-selection-area .google-suggestions {
    width: 865px;
}
#edit_tips .edit-tip-root .image-selection-area .google-suggestions > div.content {
    min-height:100px;
}

#edit_tips .edit-tip-root .image-selection-area .google-suggestions div.full-image {
    height: 100px;
    width: 100px;
    opacity: 0.8;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
#edit_tips .edit-tip-root .image-selection-area .google-suggestions div.full-image:hover {
    opacity: 1;
}
#edit_tips .edit-tip-root .image-selection-area .google-suggestions div.selected {
    padding: 0;
    opacity: 1;
    border: solid 5px green;
}
#edit_tips .edit-tip-root .image-selection-area .google-suggestions div.full-image.selected:after {
    content: 'selected';
    position: relative;
    left: 0;
    float: left;
    text-align: center;
    vertical-align: middle;
    height: 0;
    color:yellow;
    font-size:x-large;
    font-weight:bold;
    top: -30px;
}
#edit_tips .edit-tip-root .image-selection-area .google-suggestions .google_image {
    max-height: 95px;
    max-width: 95px;
}



#edit_tips .tip-tile {
    width:110px;
    /*overflow:hidden;*/
    background-color:white;
    margin:5px;
    align:center;
    position: relative;
}

#edit_tips td.tip-container {
    background-color:white;
}

#edit_tips .tip-tile:hover {
}

#edit_tips .tip-tile .move-tip {
    background: transparent url(/images/movetip.gif) no-repeat;
}
#edit_tips .tip-tile .delete-tip {
    background: transparent url(/images/deletetip.gif) no-repeat;
}
#edit_tips .tip-tile .edit-tip {
    background: transparent url(/images/edit-tip.gif) no-repeat;
}
#edit_tips .tip-tile .view-tip {
    background: transparent url(/images/view-tip.gif) no-repeat;
}

#edit_tips .tip-tile .tip-name {
    color: #666666;
    font-weight: bold;
    font-size: large;
}

#edit_tips .tip-tile:hover .icon-small {
    opacity: 0.8;
}

#edit_tips .tip-tile > div.tooltip-content {
    /*display: none;*/
    /*max-width: 500px;*/
    /*z-index: 20005;*/
    /*min-width: 200px;*/
    /*min-height: 200px;*/
}

#edit_tips .no-tip-tile {
    background-color:lightgray;
    width:110px;
    overflow:hidden;
    padding:5px;
}

#edit_tips .droppable-active {
    background-color: lightblue;
}

#edit_tips .full-tip-overlay {
	/* must be initially hidden */
	display:none;

    background-color:white;
    /*background-image:url(/images/overlay/white.png);*/

	/* place overlay on top of other elements */
	z-index:10000;

	/* styling */

	/*width:675px;*/
    /*height:400px;*/
	min-height:200px;
    min-width:200px;
	border:1px solid #666;

	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#edit_tips .full-tip-overlay .close {
	background-image:url(/images/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}


#edit_tips .edit-tip-overlay {
	/* must be initially hidden */
	display:none;

	/* place overlay on top of other elements */
	z-index:10000;

	/* styling */
	background-color:#333;

	width:950px;
	min-height:400px;
	border:1px solid #666;

	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#edit_tips .edit-tip-overlay .close {
	background-image:url(/images/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

#edit_tips .guide-access-type .current-access-type {
    	font-family: Geneva, Arial, Helvetica, sans-serif;
 font-weight: bold;
}

#edit_tips .guide-access-type {
    margin-bottom: 30px;
    margin-top: 30px;
}

#edit_tips .guide-details {
    /*border: 5px solid blue;*/
    overflow: hidden;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 15px;
}

#edit_tips .guide-details .edit-link {
    text-decoration: none;
    background-color: #0088ee;
    /*font-weight: normal;*/
    font-size: large;
    padding: 5px;
    display: inline-block;
    width: 990px;
}
#edit_tips .guide-details .edit-link span.data {
    margin-right:100px;
    font-weight:bold;
    /*width: 290px;*/
    /*text-align: center;*/
    display: inline-block;
}

#edit_tips .guide-details .edit-area {
    display: none;
    padding: 10px;
    width: 970px;
}
#edit_tips .guide-details .input-row {
    text-align: center;
    margin: 10px;
}
#edit_tips .guide-details .edit-column input {
    float: right;
}

.location-input {
    display: inline-block;
}


.local-search-container {
    position:absolute;
    background-color:white;
    display:none;
    border: 3px solid gray;
    width:460px;
    z-index:10;
    color:black !important;
}
.local-search-container a {
    color:black !important;
}


.edit-tips-batch {
/* some decorations for the accordion root element */
    width: 100%;
}
/* accordion header */
.edit-tips-batch h2 {
	background: #ccc url(/images/h30.png) ;
	margin:0;
	padding:5px 15px;
		font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	border-bottom:1px solid #ddd;
	/*cursor:pointer;*/
}
/* right part of accordion header */
.edit-tips-batch h2 .accordion-header-right {
    float: right;
}

/* currently active header */
.edit-tips-batch h2.current {
	cursor:default;
	background-color:#fff;
}

/* accordion pane */
.edit-tips-batch .tip-edit {
	/*display:none;*/
	/*padding:15px;*/
}

/* a title inside pane */
.edit-tips-batch .tip-edit h3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:16px;
	color:#999;
}



/* editing one single tip */
/*.edit-tip-root {
    padding: 10px;
    overflow: hidden;
    zoom: 1;
}

.new-tip-root {
}
.new-tip-root input {
}

.edit-tip-root .left-pane {
    *//*position: relative;*//*
    float: left;
    width: 35%;
}

.edit-tip-root .right-pane {
    position: relative;
    float: left;
    width: 35%;
}
.edit-tip-root .middle-pane {
    position: relative;
    float: left;
    width: 17%;
}
.edit-tip-root .input-row {
    overflow: hidden;
    zoom: 1;
    margin: 10px;
}

.edit-tip-root .upload_image {
    height:162px;
}*/

/*.tip-show {
    min-width: 200px;
    min-height: 200px;
    max-width: 500px;
    color:black;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    z-index: 20003;
}

.tip-show .tip-name {
    color: #666666;
    font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
    font-size: 40px;
}
.tip-show .tip-details {
    overflow:hidden;
    zoom:1;
    margin-bottom:10px;
}
.tip-show .tip-map {
    margin-top:10px;
    text-align:center;
}

.tip-show  a {
    color: black;
}
.tip-show a:visited {
    color: black;
}*/

/*hover with tip details*/
.tip-tile .full_tip .tip-show {
    min-width: 200px;
    min-height: 200px;
    max-width: 500px;
    /*width: 500px;*/
    color: black;
    padding: 5px;
    background-color: white;
    border: solid black 1px;
}

.tip-tile .full_tip .tip-show .tip-name {
    color: #666666;
    font-family: Geneva, Arial, Helvetica, sans-serif;
font-weight: bold;
    font-size: larger;
}
.tip-tile .full_tip .tip-show .tip-details {
    overflow: hidden;
    zoom: 1;
    margin-bottom: 10px;
}
.tip-tile .full_tip .tip-show .tip-map {
    margin-top: 10px;
    text-align: center;
}

.tip-tile .full_tip .tip-show  a {
    color: black;
}
.tip-tile .full_tip .tip-show a:visited {
    color: black;
}
.tip-tile .full_tip {
    display: none;
    z-index: 10003;
    position: absolute;
}



#home-page {
    /*overflow: hidden;*/
}

/*#home-page .new-guides, #home-page .search-guides, #home-page .create-guide {*/
#home-page > .section {
    background-color: #1f8aae;
    color: white;
    padding: 20px;
    margin: 10px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    display:inline-block;
}

#home-page > .section h1 {
    background-color: #437888;
    font-family: Geneva, Arial, Helvetica, sans-serif;
     font-weight: normal;
    font-size: x-large;
    display: block;

    -moz-border-radius-topleft: 16px;
    -webkit-border-top-left-radius: 16px;
    border-top-left-radius: 16px;
    -moz-border-radius-bottomright: 16px;
    -webkit-border-bottom-right-radius: 16px;
    border-bottom-right-radius: 16px;

    position:relative;
    left:-20px;
    top:-20px;
    padding: 10px;
    margin: 0 50px 0 0;
}




#home-page .new-guides {
    float: left;
    width: 944px;
    padding-right:16px;
}

#home-page .search-guides, #home-page .create-guide {
    float: left;
    width: 440px;
}

#home-page #search_location {
    font-family: Geneva, Arial, Helvetica, sans-serif;
     font-size: large;
    font-weight: bold;
}

/*#home-page .left-container {*/
    /*width: 500px;*/
/*}*/



#new_guide_page {
    text-align: center;
}
#new_guide_page .name-area {
    margin-bottom: 40px;
}
#new_guide_page .name-area input {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: #666666;
}
#new_guide_page .name-area .column {
    display: inline-block;
}

#new_guide_page .location-area {
    margin-bottom: 20px;
}
#new_guide_page .location-area input {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: large;
    color: #666666;
}
#new_guide_page .location-area .input-area {
    position:relative;
    display:inline-block;
}
#new_guide_page .hint {
    font-size: x-small;
}

#new_guide_overview_page {
}

.icon-small {
    position:relative;
    float:right;
    margin-left:5px;
    width: 19px;
    height: 19px;
    opacity: 0.7;
}
.icon-small:hover {
    opacity: 1 !important;
}


.about-guiderer {
    margin-left: 400px;
}

.about-guiderer h1 {
    margin-left: 60px;
    background-color: #0066CC;
    padding: 10px;
    display: inline-block;
}

.about-guiderer h4 {
    margin-bottom: 0;
}

#contact-page .emails {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
     font-weight: bold;
}

#contact-page .contact-form {
    margin-top: 40px;
    margin-bottom: 20px;
}

#contact-page .contact-form div {
    margin: 15px;
}

#new-guide-places .places-box {
    float:left;
    margin: 20px;
}
#new-guide-places .places-list {
    font-family: Geneva, Arial, Helvetica, sans-serif;
     font-size:150%;
    width: 220px;
}

h1 {
    margin-left: 60px;
    background-color: #0066CC;
    padding: 10px;
    display: table;
}

img.button:hover {
    cursor: pointer; 
}


#place-pool {
    padding: 10px;
    width:500px;
    background-color:white;
    list-style-type: none;
    margin-bottom: 20px;
}

#new_guide_overview_page .place-tag {
    display:inline-block;
    text-align: center;
}

#new_guide_overview_page .place-tag a {
    vertical-align: bottom;
    background-color: #E0EAF1;
    color: #3E6D8E;
    padding: 3px 4px;
    white-space: nowrap;
    text-decoration: none;
    /*line-height: 2.4;*/
    display:inline-block;
    float: left;
}
#place-pool .place-tag a {
    margin: 2px 2px 2px 0px;
    border: 1px solid #3E6D8E;
}
.selected-tips .place-tag {
    width: 115px;
    height: 19px;
}
.selected-tips .place-tag a {
    width: 100%;
    height: 100%;
}

/*.selected-tips {*/
    /*margin: 20px 0;*/
/*}*/
.selected-tips .droppable-active {
    background-color: lightblue;
}
.selected-tips .table-cell {
    display: inline-block;
    height: 25px;
    width: 123px;
    border: 1px white solid;
    background-color:#658296;
    float:left;
    /*padding: 2px;*/
}
.selected-tips .placeholder {
    overflow: visible;
    background-color:#547085;
    cursor: pointer;
}

.selected-tips .table-row {
    overflow: hidden;
    white-space: nowrap;
    margin-top:-1px;
}
.selected-tips .table-label {
    text-align: center;
    vertical-align: middle;
}

.ui-tabs .ui-tabs-nav li a {
    padding-left: 0.1em;
    padding-right: 0.1em; 
}



ul.guide-type-tabs {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid white;
}
.guide-type-tabs li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}

.guide-type-tabs li a {
    float:left;
    font-family: Geneva, Arial, Helvetica, sans-serif;
     font-size:13px;
    display:block;
    padding:5px 30px;
    text-decoration:none;
    border:1px solid white;
    border-bottom:0px;
    height:18px;
    background-color:#89a;	
    color:#fff;
    margin-right:2px;
    position:relative;
    top:1px;
    outline:0;
    -moz-border-radius:4px 4px 0 0;
}
.guide-type-tabs a:hover {
    background-color:#678;
    /*color:#333;*/
}
.guide-type-tabs a.current {
    background-color:#658296;
    /*border-bottom:2px solid #658296;*/
    /*color:#000;*/
    cursor:default;
}

div.guide-type-panes > div {
    /*color:#fff;*/
    display:none;
    /*border:1px solid #666;*/
    /*border-width:0 1px 1px 1px;*/
    /*min-height:150px;*/
    /*padding:15px 20px;*/
    /*background-color:#ddd;*/
    /*background:#4F5C6A;*/
}

#edit_calendar_tabs > ul {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid white;
}

#edit_calendar_tabs > ul li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}


#edit_calendar_tabs > ul a {
    /*float:left;*/
    display:block;
    padding:5px 30px;
    text-decoration:none;
    border:1px solid white;
    border-bottom:0px;
    height:18px;
    background-color:#89a;	
    color:#fff;
    margin-right:2px;
    position:relative;
    top:1px;
    outline:0;
    -moz-border-radius:4px 4px 0 0;
}
#edit_calendar_tabs > ul a:hover {
    background-color:#678;
}
#edit_calendar_tabs > ul a.current {
    background-color:#658296;
    cursor:default;
}


#edit_calendar_tabs > .tab-content {
    background-color:white;
    color: black;
    overflow: hidden;
}
#edit_calendar_tabs > .tab-content a {
    color: black;
}



.google-suggestions .scrollable {
	position: relative;
	overflow: hidden;
	height: 110px;
    width: 830px;
    float: left;
}
.google-suggestions .scrollable .items {
	width: 20000em;
	position: absolute;
}
.google-suggestions .scrollable .items > div {
	float: left;
    width: 830px;
    overflow: hidden;
}

.google-suggestions a.browse {
	background: url(/images/arrows-tall.png) no-repeat;
	width: 15px;
	height: 100px;
	cursor: pointer;
    float: left;
}

.google-suggestions a.browse.right 				{ background-position: -35px 0; clear:right; margin-right: 0px;}
/*.google-image-choices a.right:hover 		{ background-position:-30px -30px; }*/
/*.google-image-choices a.right:active 	{ background-position:-60px -30px; }*/


/*.google-suggestions a.browse.left				{ margin-left: 0px; }*/
/*.google-image-choices a.left:hover  		{ background-position:-30px 0; }*/
/*.google-image-choices a.left:active  	{ background-position:-60px 0; }*/


.google-suggestions a.disabled {
	visibility: hidden !important;
}

#map-canvas {
    width: 100%;
    height: 600px;
}
.map-info-window {
    color: black;
    padding: 0 10px 10px 10px;
    overflow: hidden;
}
.map-info-window h3 {
    margin: 0;
}
.map-info-window p {
    margin: 9px 0;
}
.map-info-window a {
    color: blue;
}
.map-info-window a:hover {
    color: blue;
}

.loading-indicator {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    z-index: 100000;
    /*background-color: white;*/
    /*opacity: 0.5;*/
}
.loading-indicator > span {
    position: absolute;
    text-align: center;
}
.loading-element {
    opacity: 0.5;
}


#tips-matrix {
    /*overflow: hidden;*/
    /*zoom: 1;*/
}

#tips-matrix .day-header {
    overflow: hidden;
    zoom: 1;
    font-size:24px;
    text-align: center;
}

/*#tips-matrix .day-header > div {
    width: 200px;
    text-align: center;
    float: left;
}*/

#tips-matrix .condition-label {
    /*width: 100px;
    height: 100%;
    background-color:#006699;
    float: left;*/
    padding: 3px 20px;
    text-align: center;
    background-color: lightBlue;
    color: black;
}
/*
#tips-matrix .condition-label > h2 {
    color: white;
    margin: 25px 10px;
}
*/

#tips-matrix .day-group {
    width: 190px;
    border: 2px solid beige;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: left;
    /*display:table-cell;*/
    /*display: inline-block;*/
    margin-right: 5px;
    padding: 5px 0;
}

#tips-matrix .condition-group {
    /*overflow: hidden;*/
    zoom: 1;
    min-height: 25px;
    /*display:table-row;*/
}
/*#tips-matrix .day-group .condition-group > h3 {
    background-color: yellow;
    color: black;
    margin: 2px 0;
}*/

#tips-matrix .edit-tip-tile {
    height: 40px;
    margin: 2px 0;
    border:1px solid aquamarine;
    color: black;
    background-color: aquamarine;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    /*position: relative;*/
}
#tips-matrix .edit-tip-tile .tooltip-content {
    display: none;
}

#tips-matrix .edit-tip-tile .tip-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#tips-matrix .edit-tip-tile .view {
    height: 100%;
    position: relative;
}
#tips-matrix .edit-tip-tile .delete-tip {
    position: absolute;
    color: black;
    top: 0;
    right: 0;
    font-size: x-large;
    float: right;
    margin-left: 5px;
    /*width: 19px;*/
    /*height: 19px;*/
    opacity: 0.1;
}
#tips-matrix .edit-tip-tile:hover .delete-tip {
    opacity: 1;
}
#tips-matrix .edit-tip-tile .tip-url {
    vertical-align:bottom;
    float:right;
    color:gray;
    font-size: xx-small;
}
#tips-matrix .edit-tip-tile-placeholder {
    background-color: white;
}
#tips-matrix .edit-tip-tile .edit-tip-root {
    cursor: default;
}

.tip-tooltip {
    min-width: 250px;
    /*min-height: 200px;*/
    /*max-width: 500px;*/
    color:black;
    /*padding: 5px;*/
    background-color: white;
    /*border: 1px solid black;*/
    z-index: 20003;
}

.tip-tooltip > h3 {
    margin: 5px 0;
    /*color: #666666;*/
    /*font-family: Geneva, Arial, Helvetica, sans-serif;*/
	/*font-weight: bold;*/
    /*font-size: 40px;*/
}
.tip-tooltip .images {
    overflow: hidden;
    zoom: 1;
}
.tip-tooltip .image {
    width: 100px;
    height: 100px;
    float: left;
}
.tip-tooltip .details {
    overflow:hidden;
    zoom:1;
    /*margin-top:10px;*/
}
.tip-tooltip .details > ul {
    padding-left: 20px;
    margin: 5px 0;
}
.tip-tooltip .map {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 10px;
}
.tip-tooltip a {
    color: black;
}
.tip-tooltip a:visited {
    color: black;
}


/*
.edit-tip-root .edit-area {
    border: 5px solid blue;
    background-color: #0066CC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    opacity: 1;
}
*/

#edit_tips {
    position: relative;
}

.edit-tip-tile .tip-form {
    display: none;
    z-index: 1000000001;
    width: 1000px;
    position:absolute;
    left: 0;
}

#book-preview .tips-data .tip {
    width: 1000px;
    height: 250px;
    border: solid black 1px;
}
#book-preview .tips-data .tip .image {
    width: 500px;
    overflow: hidden;
    height: 250px;
    display: inline-block;
}
#book-preview .tips-data .tip .image .container {
    position: relative;
    cursor: pointer;
}
#book-preview .tips-data .tip .image .container .draggable {
    background-repeat: no-repeat;
}
#book-preview .tips-data .tip .text {
    width: 490px;
    float: right;
}

#book-preview .tips-order {
    margin-bottom: 40px;
}

#book-preview .tips-order .tip {
    width: 40px;
    height: 40px;
    float: left;
    cursor: pointer;
    background-color: white;
    color: black;
}

.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/* file upload button */
.file-upload {
    overflow: hidden;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;

    /* Cosmetics */
    color: #fff;
    border: 2px solid #2FA2FF;
    background: #6FBEFF;

    /* Nice if your browser can do it */
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-shadow: #000 1px 1px 4px;
}

.file-upload:hover {
	background: #2FA2FF;
}
/*.file-upload.focus {
	outline: 2px solid yellow;
}*/
.file-upload input {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-size: 70px;

	/* Loses tab index in webkit if width is set to 0 */
	opacity: 0;
	filter: alpha(opacity=0);
}

.file-upload .label {
	display: inline-block;

	/* Adjust button text vertical alignment */
	padding-top: .45em;
}


#global-overlay {
    z-index: 1000000000;
    opacity: 0.4;
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}

#edit-tip-container {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 1000000001;
}

.image-tooltip {
    /*width:230px;*/
    /*height:230px;*/
    min-width: 100px;
    /*min-height: 100px;*/
    background-color: white;
    color: black;
    z-index: 1000000001;
}

.clear-fix:after {
    content:"";
    clear:both;
    display:block;
}
.clear-fix {
    zoom: 1;
}
