.starbar {
    position: relative;
}

.starbar .outer {
    background: url(/images/stars.png) no-repeat 0 0;
    height: 20px;
    width: 100px;
}

.starbar .inner {
    background: url(/images/stars.png) no-repeat 0 -20px;
    height: 20px;
    /*width: 70px;*/
}

.starbar .voted {
  background-position: 0 -40px;
  /*width: 40px;*/
}

.starbar a {
    position: absolute;
    height: 20px;
    left: 0;
}

.starbar a:hover {
  background: transparent url(/images/stars.png) no-repeat scroll 0 -60px;
}

.starbar a.s1  { width:  20px; }
.starbar a.s2  { width:  40px; }
.starbar a.s3  { width:  60px; }
.starbar a.s4  { width:  80px; }
.starbar a.s5  { width: 100px; }




.tip-show {
    min-width: 200px;
    min-height: 200px;
    max-width: 600px;
    color:black;
    padding: 5px;
}

.tip-show .tip-name {
    color: #666666;
    font-weight: bold;
    font-size: larger;
}
.tip-show .tip-details {
    overflow:hidden;
    zoom:1;
    margin-bottom:10px;
}
.tip-show .tip-map {
    margin-top:10px;
    text-align:center;
}

.tip-show  a {
    color: black;
}
.tip-show a:visited {
    color: black;
}
