/* this file contains styles for guide widgets */


.guiderer {
    font-family: serif;
}

.guiderer .starbar {
    position: relative;
}

.guiderer .starbar .outer {
    background: url(/images/stars.png) no-repeat 0 0;
    height: 20px;
    width: 100px;
}

.guiderer .starbar .inner {
    background: url(/images/stars.png) no-repeat 0 -20px;
    height: 20px;
    /*width: 70px;*/
}

.guiderer .starbar .voted {
  background-position: 0 -40px;
  /*width: 40px;*/
}

.guiderer .starbar a {
    position: absolute;
    height: 20px;
    left: 0;
}

.guiderer .starbar a:hover {
  background: transparent url(/images/stars.png) no-repeat scroll 0 -60px;
}

.guiderer .starbar a.s1  { width:  20px; }
.guiderer .starbar a.s2  { width:  40px; }
.guiderer .starbar a.s3  { width:  60px; }
.guiderer .starbar a.s4  { width:  80px; }
.guiderer .starbar a.s5  { width: 100px; }


/*hover with tip details*/
.guiderer .full_tip .tip-show {
    min-width: 200px;
    min-height: 200px;
    /*max-width: 500px;*/
    width: 500px;
    color: black;
    padding: 5px;
    background-color: azure;
    border: solid black 1px;
}

.guiderer .full_tip .tip-show .tip-name {
    color: #666666;
    font-weight: bold;
    font-size: larger;
}
.guiderer .full_tip .tip-show .tip-details {
    overflow: hidden;
    zoom: 1;
    margin-bottom: 10px;
}
.guiderer .full_tip .tip-show  a {
    color: black;
}
.guiderer .full_tip .tip-show a:visited {
    color: black;
}
.guiderer .full_tip .tip-show .tooltip-row {
    /*width: 100%;*/
    /*white-space: nowrap;*/
    overflow: hidden;
    zoom: 1;
    margin: 10px;
}
.guiderer .full_tip .tip-show .tip-map {
    text-align: center;
    display: inline-block;
    margin: 0 0 10px 10px;
    float: right;
}
.guiderer .full_tip .tip-show .twits-all {
    /*display: inline-block;*/
    margin: 10px 10px 10px 0;
    /*width: 270px;*/
    /*width: 270px;*/
    vertical-align:top;
    white-space: normal;
}
.guiderer .full_tip .tip-show .twits-all .twits-container {
    /*display: inline-block;*/
    width: 100%;
    padding-bottom: 10px;
}
.guiderer .full_tip .tip-show .twits-all .twits-container h4 {
    margin: 10px 0;
}
.guiderer .full_tip .tip-show .twits-all .twits-container .twits ul {
    padding-left: 15px;
}
.guiderer .full_tip .tip-show .twits-all .twits-container .twits ul li {
    margin-bottom: 5px;
}
.guiderer .full_tip .tip-show .twits-all .twits-container .twits .twit-user {
    font-weight: bold;
}
.guiderer .full_tip {
    display: none;
    z-index: 10003;
}
.guiderer .guide-tip-body {
    position: relative;
}




/*.guiderer a {
    color: #ffffff;
}
.guiderer a:visited {
    color: #ffffff;
}*/
/*a { color: #ffffff; }*/
/*a:visited { color: #ffffff; }*/


/* tip templates */
/* small box (about 100px each side) */
.guiderer .tip-element-small {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid lightgray;
    padding: 2px;
    height: 96px;
    width: 96px;
    background-repeat: no-repeat;
    margin: 2px;
    /*display:inline-block;*/
    /*vertical-align: top;*/
}
.guiderer .tip-element-small.guide-tip-none {
    background-color: lightgray;
}

.guiderer .tip-element-small .tip-legend {
    opacity: 0.6;
    background-color: white;
    font-size: small;
    color: #222222;
    margin: 2px;
}

.guiderer .tip-element-small .tip-legend .tip-condition {
}

.guiderer .tip-element-small .tip-legend .tip-name {
    font-weight: bold;
}

/* medium box (about 200 pixels each side) */
.guiderer .tip-element-medium {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid lightgray;
    padding: 2px;
    height: 196px;
    width: 196px;
    background-repeat: no-repeat;
    margin: 2px;
    display: none;
}

.guiderer .tip-element-medium .tip-legend {
    opacity: 0.6;
    background-color: white;
    font-size: medium;
    color: #222222;
    margin: 2px;
}

.guiderer .tip-element-medium .tip-legend .tip-condition {
}

.guiderer .tip-element-medium .tip-legend .tip-name {
    font-weight: bold;
}



/* guide footer, small version (about 100px wide) */
.guiderer .guide-footer-small {
    background-color: #DBDABD;
    color: #000000;
    font-size: small;
    width: 106px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    text-align: center;
    white-space: normal;
}

.guiderer .guide-footer-small .select-day {
    text-align: center;
    color: #666666;
}

.guiderer .guide-footer-small .select-day .previous-day {
/*background: url("/images/arrowleft.gif") no-repeat;*/
/*width: 12px;*/
/*height: 12px;*/
}

.guiderer .guide-footer-small .select-day .next-day {
}

.guiderer .guide-footer-small .vote .starbar {
    display: inline-block;
    margin-top: -3px;
}

.guiderer .guide-footer-small .guide-info {
    font-size: x-small;
    color: #666666;
}

.guiderer .guide-footer-small .addthis-guide {
    display: inline-block;
    margin-top: 3px;
    width: 90px;
}


/* guide footer, medium version (about 200px wide) */
.guiderer .guide-footer-medium {
    background-color: #DBDABD;
    color: #000000;
    font-size: small;
    padding: 5px 10px;
}
.guiderer .guide-footer-medium .select-day {
    color: #666666;
    display:inline-block;
    font-size: medium;
}
.guiderer .guide-footer-medium .whole-week {
    display:inline-block;
    float: right;
    font-size: medium;
}
.guiderer .guide-footer-medium .vote {
    white-space: nowrap;
}
.guiderer .guide-footer-medium .vote .starbar {
    display: inline-block;
}
.guiderer .guide-footer-medium .guide-info {
    font-size: x-small;
    color: #666666;
    display:inline-block;
}
.guiderer .guide-footer-medium .addthis-guide {
    display:inline-block;
    float: right;
    margin-top: 5px;
    width: 90px;
}

/* guide footer, one-line version */
.guiderer .guide-footer-flat {
}

.guiderer .guide-footer-flat .vote {
    display: inline-block;
    float: left;
    font-weight:normal;
}
.guiderer .guide-footer-flat .vote .starbar {
    display: inline-block;
}
.guiderer .guide-footer-flat .guide-info {
    display: inline-block;
    float: right;
    color: black;
}
.guiderer .guide-footer-flat .guide-info .guiderer-logo > div.image-wrapper {
    display: inline-block;
}

.guiderer .guide-footer-flat .addthis-guide {
    float: right;
    margin-right: 50px;
    width: 100px;
}


/* for all footers */
.guiderer .guide-info .guiderer-logo {
    position: relative;
}
.guiderer .guide-info .tooltip-content {
    border: 1px solid black;
    background-color: azure;
    width: 300px;
    font-size: medium;
    z-index: 20003;
}


