<h1>Account Info</h1>

<%= render :partial => 'edit', :locals => {:user => @user} %>



<div class="split"></div>



<h1>
  Your guides
</h1>

<div class="button-panel" style="position: relative; top: -90px;">
  <a href="/guides/new" class="button new-guide">
    Create a new guide
  </a>
</div>

<% @user.calendars.each do |guide| %>
    <%= render :partial => 'calendars/widget', :locals => {:guide => guide, :style_id => 3} %>
<% end %>






