<h1>Account Info</h1>

<%= render :partial => 'edit', :locals => {:user => @user} %>

<div>
<%= link_to 'Create a new guide', new_guide_path %>
</div>

<h2>
Your guides
</h2>


<% @user.calendars.each do |guide| %>
    <%= render :partial => 'calendars/widget', :locals => {:guide => guide, :style_id => 3} %>
<% end %>



<%= link_to 'New guide', new_guide_path %>





