<div id="home-page" class="clear-fix">

  <!--search guides-->
  <div class="search-guides section">
    <h1>Want travel tips for a destination?</h1>
    Search our travel guides here:

    <form id="search_form" name="search_form" method="get" action="guides">
      <input name="search_location" id="search_location" class="watermark" value="" type="text" title="type destination here" size="20">
      <img class="button" onclick="$('#search_form').submit();" src="/images/guiderer-index_r11_c5.jpg" align="absmiddle"/>
    </form>

    <div style="margin-top:20px">
      Popular locations:

      <% @prominent_locations.each do |l| %>
       <%= l + ((l != @prominent_locations.last) ? ',' : '') %>

      <% end %>
    </div>
  </div>

  <!--create guide-->
  <div class="create-guide section">
    <h1>Know your city well? Share your travel tips with travelers!</h1>

    Create your own travel guide and convert it into a website, print booklet, map, iPhone app or even video.
    <br/><br/>
    Share it with your friends, guests, clients or the entire web.
    <img class="button" align="right" onclick="window.location='/guides/new';" src="/images/guiderer-index_r12_c5.jpg"/>
  </div>
  
    <!--new guides-->
    <div class="new-guides section">
      <h1>Recently Created Guides</h1>
  
      <% @recent_calendars.each do |calendar| %>
          <div style="display:inline-block;vertical-align:text-top;">
            <%= render :partial => 'calendars/widget', :locals => {:guide => calendar, :style_id => '1'} %>
          </div>
      <% end %>



    </div>
  
  
  
  
</div>



<script type="text/javascript">
    $(document).ready(function() {
        $("#search_location").autocomplete(
                [
                    <% @locations.size.times do |index| -%>
                    '<%= @locations[index].name %>'
                    <% if index < @locations.size - 1 -%>
                    ,
                    <% end %>
                    <% end -%>
                ],
        {
        });

        $('#search_form').submit(function() {
            $.Watermark.HideAll();
            return true;
        });
    });
</script>
