

<% if flash[:message] %>
    <div><%= flash[:message] %></div>
<% end %>
<% if flash[:error] %>
    <div><%= flash[:error] %></div>
<% end %>

<br>

<h1>Sign up or In with any of these accounts:</h1>
<% form_tag('/process_login', :method => :post, :id => 'openid_form') do %>
    <input type="hidden" id="oauth_version" name="oauth_version"/>
    <input type="hidden" id="oauth_server" name="oauth_server"/>

    <div id="openid_choice">
      <p>
        <br/>
        Use your login and password to log, and skip having to create an account from scratch.

       </p>

      <div id="openid_btns"></div>
    </div>

    <div id="openid_input_area">
    </div>


<!--
    <p>Or, manually enter your OpenID</p>

    <table id="openid-url-input">
        <tr>
            <td class="vt large"><input id="openid_identifier" name="openid_identifier" class="openid-identifier"
              style="height:28px; width:500px;" type="text" tabindex="100"></td>
            <td class="vt large"><input id="submit-button"
              style="margin-left:5px; height:36px;" type="submit" value="Log in" tabindex="101"></td> 
        </tr>


    </table>
-->


<% end %>



<script type="text/javascript">
	$(document).ready(function() {
	    openid.init('openid_identifier');
	});
</script>
