<div class="location-input">
<input name="location_name" size="25" value="<%= h name %>" type="text">
<span style="position:absolute;left:50%;" class="location-loading"></span>
<input name="location_code" value="<%= code %>" type="hidden" class="">
</div>

