<div id="buy-domain">
  <h1>Convert your guide into a ".com" domain!</h1>

  <p>Make it the official "for <%= @guide.name_target %>" guide to <%= @guide.location.name %> and own
    <span class="name"><%= @name %></span>
    and say goodbye to long URLS!</p>

  What you get:
  <ul>
  <li>the <span class="name"><%= @name %></span> domain</li>
  <li>1 year hosting of your site on our servers</li>
  <li>1 click setup</li>
  <li>Earn affiliate revenue from ads and widgets on your page! By listing travel services like hotel listings you can
  actually make money!</li>
  </ul>

  To get started, choose the plan you want, between 1, 2 or 3 years of hosting.


  <form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/560545940918382" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
    <table cellpadding="5" cellspacing="0" width="1%">
      <tr>
        <td align="right" width="1%">
          <select name="item_selection_1">
            <option value="1">USD30.00 - Domain + 1 year hosting on our servers</option>
            <option value="2">USD55.00 - Domain + 2 year hosting on our servers</option>
            <option value="3">USD75.00 - Domain + 3 year hosting on our servers</option>
          </select>
          <input name="item_option_name_1" type="hidden" value="Domain + 1 year hosting on our servers"/>
          <input name="item_option_price_1" type="hidden" value="30.0"/>
          <input name="item_option_description_1" type="hidden" value="Convert your Guiderer travel guide into a .com domain! We'll host it for you. To edit your guide, simply login to your account and make modifications to your guide there!"/>
          <input name="item_option_quantity_1" type="hidden" value="1"/>
          <input name="item_option_currency_1" type="hidden" value="USD"/>
          <input name="shopping-cart.item-options.items.item-1.digital-content.url" type="hidden" value="http://www.guiderer.com/dotcomthanks.html"/>
          <input name="item_option_name_2" type="hidden" value="Domain + 1 year hosting on our servers"/>
          <input name="item_option_price_2" type="hidden" value="55.0"/>
          <input name="item_option_description_2" type="hidden" value="Convert your Guiderer travel guide into a .com domain! We'll host it for you. To edit your guide, simply login to your account and make modifications to your guide there!"/>
          <input name="item_option_quantity_2" type="hidden" value="1"/>
          <input name="item_option_currency_2" type="hidden" value="USD"/>
          <input name="shopping-cart.item-options.items.item-2.digital-content.url" type="hidden" value="http://www.guiderer.com/dotcomthanks.html"/>
          <input name="item_option_name_3" type="hidden" value="Domain + 3 year hosting on our servers"/>
          <input name="item_option_price_3" type="hidden" value="75.0"/>
          <input name="item_option_description_3" type="hidden" value="Convert your Guiderer travel guide into a .com domain! We'll host it for you. To edit your guide, simply login to your account and make modifications to your guide there!"/>
          <input name="item_option_quantity_3" type="hidden" value="1"/>
          <input name="item_option_currency_3" type="hidden" value="USD"/>
          <input name="shopping-cart.item-options.items.item-3.digital-content.url" type="hidden" value="http://www.guiderer.com/dotcomthanks.html"/>
        </td>
        <td align="left" width="1%">
          <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=560545940918382&amp;w=117&amp;h=48&amp;style=trans&amp;variant=text&amp;loc=en_US" type="image"/>
        </td>
      </tr>
    </table>
  </form>

</div>