<% page_width 1100 %>


<style>
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
@page
	{margin:.98in .79in .98in .79in;
	mso-header-margin:.49in;
	mso-footer-margin:.49in;}
#bill-gates-is-moron tr
	{mso-height-source:auto;}
#bill-gates-is-moron col
	{mso-width-source:auto;}
#bill-gates-is-moron br
	{mso-data-placement:same-cell;}
#bill-gates-is-moron .style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
#bill-gates-is-moron .style16
	{mso-number-format:"_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
	mso-style-name:"Separador de milhares";
	mso-style-id:3;}
#bill-gates-is-moron td {mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
#bill-gates-is-moron .xl24
	{mso-style-parent:style0;
	mso-number-format:Fixed;}
#bill-gates-is-moron .xl25
	{mso-style-parent:style0;
	white-space:normal;}
#bill-gates-is-moron .xl26
	{mso-style-parent:style0;
	text-align:center;}
#bill-gates-is-moron .xl27
	{mso-style-parent:style0;
	mso-number-format:Fixed;
	text-align:center;}
#bill-gates-is-moron .xl28
	{mso-style-parent:style0;
	color:gray;
	text-align:center;}
#bill-gates-is-moron .xl29
	{mso-style-parent:style0;
	color:gray;
	mso-number-format:"\[$$-409\]\#\,\#\#0\.00";
	text-align:center;}
#bill-gates-is-moron .xl30
	{mso-style-parent:style0;
	color:gray;
	mso-number-format:Fixed;
	text-align:center;}
#bill-gates-is-moron .xl31
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFFF99;
	mso-pattern:auto none;}
#bill-gates-is-moron .xl32
	{mso-style-parent:style0;
	font-size:16.0pt;}
#bill-gates-is-moron .xl33
	{mso-style-parent:style0;
	color:gray;
	font-size:16.0pt;
	text-align:center;}
#bill-gates-is-moron .xl34
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	background:#FFFF99;
	mso-pattern:auto none;
	white-space:normal;}
#bill-gates-is-moron .xl35
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFCC;
	mso-pattern:auto none;}
#bill-gates-is-moron .xl36
	{mso-style-parent:style0;
	font-size:16.0pt;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFCC;
	mso-pattern:auto none;}
#bill-gates-is-moron .xl37
	{mso-style-parent:style0;
	color:gray;
	font-size:16.0pt;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFCC;
	mso-pattern:auto none;}
#bill-gates-is-moron .xl38
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFCC;
	mso-pattern:auto none;}
#bill-gates-is-moron .xl39
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFFF99;
	mso-pattern:auto none;}
#bill-gates-is-moron .xl40
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#99CCFF;
	mso-pattern:auto none;
	white-space:normal;}
#bill-gates-is-moron .xl41
	{mso-style-parent:style16;
	mso-number-format:"_\(* \#\,\#\#0_\)\;_\(* \\\(\#\,\#\#0\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#99CCFF;
	mso-pattern:auto none;}
#bill-gates-is-moron .xl42
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#99CCFF;
	mso-pattern:auto none;}
#bill-gates-is-moron .xl43
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#99CCFF;
	mso-pattern:auto none;}
#bill-gates-is-moron .xl44
	{mso-style-parent:style0;
	color:#333399;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	background:#FFCC00;
	mso-pattern:auto none;
	white-space:normal;}
#bill-gates-is-moron .xl45
	{mso-style-parent:style0;
	text-decoration:underline;
	text-underline-style:single;}
#bill-gates-is-moron .xl46
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#CCFFCC;
	mso-pattern:auto none;
	white-space:normal;}
-->
</style>



<div id="print-order">
  <h1>Print Your Guide!</h1>

  <ul>
    <!--<li>Print Your Guide!</li>-->
    <li>Stand out from the competition!</li>
    <li>Show your clients you care!</li>
    <li>Seduce potential customers!</li>
    <li>Convert your guide into a print booklet you can give to friends, potential-customers and clients.</li>
  </ul>

  <p>What it is:<br/>
    Professionally 4 color printed booklet with wire-o binding, 10 cm wide X 7.5cm tall, 90 gram couche paper, 180gram
    matt cover.
  </p>

  <p>What it looks like:<br/>
    <img src="/images/v2/mini-guides.jpg" alt="photo will be here"/>
    <br/>Sample guide
  </p>


  <p>What you get:<br/>
    Professionally printed copies of you guide, wire bound and shipped to you.
  </p>

  <p>Your investment:<br/>
    Please use the form below to see number of print copies you can get for different price-breaks.
  </p>


  <!--
  <p>Make it the official "for <%= @guide.name_target %>" guide to <%= @guide.location.name %> and own
    <span class="name"><%= @name %></span>
    and say goodbye to long URLS!</p>

  What you get:
  <ul>
  <li>the <span class="name"><%= @name %></span> domain</li>
  <li>1 year hosting of your site on our servers</li>
  <li>1 click setup</li>
  <li>Earn affiliate revenue from ads and widgets on your page! By listing travel services like hotel listings you can
  actually make money!</li>
  </ul>

  To get started, choose the plan you want, between 1, 2 or 3 years of hosting.
-->


<div id="bill-gates-is-moron" style="background: white;">
<table x:str border=0 cellpadding=0 cellspacing=0 width=1200 style='border-collapse:
 collapse;table-layout:fixed;width:900pt'>
 <col width=107 style='mso-width-source:userset;mso-width-alt:3913;width:80pt'>
 <col class=xl26 width=132 style='mso-width-source:userset;mso-width-alt:4827;
 width:99pt'>
 <col width=64 style='width:48pt'>
 <col class=xl26 width=132 style='mso-width-source:userset;mso-width-alt:4827;
 width:99pt'>
 <col class=xl28 width=64 style='width:48pt'>
 <col class=xl26 width=132 style='mso-width-source:userset;mso-width-alt:4827;
 width:99pt'>
 <col class=xl28 width=57 style='mso-width-source:userset;mso-width-alt:2084;
 width:43pt'>
 <col class=xl26 width=132 style='mso-width-source:userset;mso-width-alt:4827;
 width:99pt'>
 <col class=xl28 width=56 style='mso-width-source:userset;mso-width-alt:2048;
 width:42pt'>
 <col class=xl26 width=132 style='mso-width-source:userset;mso-width-alt:4827;
 width:99pt'>
 <col class=xl28 width=64 style='width:48pt'>
 <col width=64 span=2 style='width:48pt'>
 <tr height=17 style='height:12.75pt'>
  <td height=17 width=107 style='height:12.75pt;width:80pt'></td>
  <td class=xl26 width=132 style='width:99pt'></td>
  <td width=64 style='width:48pt'></td>
  <td class=xl26 width=132 style='width:99pt'></td>
  <td class=xl28 width=64 style='width:48pt'></td>
  <td class=xl26 width=132 style='width:99pt'></td>
  <td class=xl28 width=57 style='width:43pt'></td>
  <td class=xl26 width=132 style='width:99pt'></td>
  <td class=xl28 width=56 style='width:42pt'></td>
  <td class=xl26 width=132 style='width:99pt'></td>
  <td class=xl28 width=64 style='width:48pt'></td>
  <td width=64 style='width:48pt'></td>
  <td width=64 style='width:48pt'></td>
 </tr>
 <tr class=xl32 height=42 style='mso-height-source:userset;height:31.5pt'>
  <td height=42 class=xl46 width=107 style='height:31.5pt;width:80pt'>If your
  Printing Budget is:</td>
  <td class=xl35>US$ 100</td>
  <td class=xl36>&nbsp;</td>
  <td class=xl35>US$ 200</td>
  <td class=xl37>&nbsp;</td>
  <td class=xl35>US$ 500</td>
  <td class=xl37>&nbsp;</td>
  <td class=xl35>US$ 1000</td>
  <td class=xl37>&nbsp;</td>
  <td class=xl38>US$ 2000</td>
  <td class=xl33></td>
  <td colspan=2 class=xl32 style='mso-ignore:colspan'></td>
 </tr>
 <tr class=xl25 height=55 style='mso-height-source:userset;height:41.25pt'>
  <td height=55 class=xl40 width=107 style='height:41.25pt;border-top:none;
  width:80pt'>And the number of Pages on you Guide is:</td>
  <td class=xl34 width=132 style='width:99pt'>You get this many copies (units)
  of your guide</td>
  <td class=xl28>unit cost</td>
  <td class=xl34 width=132 style='width:99pt'>You get this many copies (units)
  of your guide</td>
  <td class=xl28>unit cost</td>
  <td class=xl34 width=132 style='width:99pt'>You get this many copies (units)
  of your guide</td>
  <td class=xl28>unit cost</td>
  <td class=xl34 width=132 style='width:99pt'>You get this many copies (units)
  of your guide</td>
  <td class=xl28>unit cost</td>
  <td class=xl34 width=132 style='width:99pt'>You get this many copies (units)
  of your guide</td>
  <td class=xl28>unit cost</td>
  <td colspan=2 class=xl25 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl41 style='height:12.75pt' x:str="1 to 4*"><span
  style='mso-spacerun:yes'> </span>1 to 4*<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl39 x:num>400</td>
  <td class=xl29 x:num="0.25" x:fmla="=B21">$0.25</td>
  <td class=xl31 x:num x:fmla="=B4*2.5">1000</td>
  <td class=xl29 x:num="0.2" x:fmla="=D21">$0.20</td>
  <td class=xl31 x:num x:fmla="=B4*9">3600</td>
  <td class=xl29 x:num="0.1388888888888889" x:fmla="=F21">$0.14</td>
  <td class=xl31 x:num x:fmla="=B4*25">10000</td>
  <td class=xl29 x:num="0.1" x:fmla="=H21">$0.10</td>
  <td class=xl31 x:num x:fmla="=B4*70">28000</td>
  <td class=xl29 x:num="7.1428571428571425E-2" x:fmla="=J21">$0.07</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl41 style='height:12.75pt' x:str="5 to 8*"><span
  style='mso-spacerun:yes'> </span>5 to 8*<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl39 style='border-top:none' x:num>200</td>
  <td class=xl29 x:num="0.5" x:fmla="=B22">$0.50</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B5*2.5">500</td>
  <td class=xl29 x:num="0.4" x:fmla="=D22">$0.40</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B5*9">1800</td>
  <td class=xl29 x:num="0.27777777777777779" x:fmla="=F22">$0.28</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B5*25">5000</td>
  <td class=xl29 x:num="0.2" x:fmla="=H22">$0.20</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B5*70">14000</td>
  <td class=xl29 x:num="0.14285714285714285" x:fmla="=J22">$0.14</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>9 to 12*</td>
  <td class=xl39 style='border-top:none' x:num>130</td>
  <td class=xl29 x:num="0.76923076923076927" x:fmla="=B23">$0.77</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B6*2.5">325</td>
  <td class=xl29 x:num="0.61538461538461542" x:fmla="=D23">$0.62</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B6*9">1170</td>
  <td class=xl29 x:num="0.42735042735042733" x:fmla="=F23">$0.43</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B6*25">3250</td>
  <td class=xl29 x:num="0.30769230769230771" x:fmla="=H23">$0.31</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B6*70">9100</td>
  <td class=xl29 x:num="0.21978021978021978" x:fmla="=J23">$0.22</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>13 to 16*</td>
  <td class=xl39 style='border-top:none' x:num>90</td>
  <td class=xl29 x:num="1.1111111111111112" x:fmla="=B24">$1.11</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B7*2.5">225</td>
  <td class=xl29 x:num="0.88888888888888884" x:fmla="=D24">$0.89</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B7*9">810</td>
  <td class=xl29 x:num="0.61728395061728392" x:fmla="=F24">$0.62</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B7*25">2250</td>
  <td class=xl29 x:num="0.44444444444444442" x:fmla="=H24">$0.44</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B7*70">6300</td>
  <td class=xl29 x:num="0.31746031746031744" x:fmla="=J24">$0.32</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>17 to 20*</td>
  <td class=xl39 style='border-top:none' x:num>70</td>
  <td class=xl29 x:num="1.4285714285714286" x:fmla="=B25">$1.43</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B8*2.5">175</td>
  <td class=xl29 x:num="1.1428571428571428" x:fmla="=D25">$1.14</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B8*9">630</td>
  <td class=xl29 x:num="0.79365079365079361" x:fmla="=F25">$0.79</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B8*25">1750</td>
  <td class=xl29 x:num="0.5714285714285714" x:fmla="=H25">$0.57</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B8*70">4900</td>
  <td class=xl29 x:num="0.40816326530612246" x:fmla="=J25">$0.41</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>21 to 24*</td>
  <td class=xl39 style='border-top:none' x:num>58</td>
  <td class=xl29 x:num="1.7241379310344827" x:fmla="=B26">$1.72</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B9*2.5">145</td>
  <td class=xl29 x:num="1.3793103448275863" x:fmla="=D26">$1.38</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B9*9">522</td>
  <td class=xl29 x:num="0.95785440613026818" x:fmla="=F26">$0.96</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B9*25">1450</td>
  <td class=xl29 x:num="0.68965517241379315" x:fmla="=H26">$0.69</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B9*70">4060</td>
  <td class=xl29 x:num="0.49261083743842365" x:fmla="=J26">$0.49</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>25 to 32</td>
  <td class=xl39 style='border-top:none' x:num>43</td>
  <td class=xl29 x:num="2.3255813953488373" x:fmla="=B27">$2.33</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B10*2.5">107.5</td>
  <td class=xl29 x:num="1.8604651162790697" x:fmla="=D27">$1.86</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B10*9">387</td>
  <td class=xl29 x:num="1.2919896640826873" x:fmla="=F27">$1.29</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B10*25">1075</td>
  <td class=xl29 x:num="0.93023255813953487" x:fmla="=H27">$0.93</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B10*70">3010</td>
  <td class=xl29 x:num="0.66445182724252494" x:fmla="=J27">$0.66</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>33 to 40</td>
  <td class=xl39 style='border-top:none' x:num>34</td>
  <td class=xl29 x:num="2.9411764705882355" x:fmla="=B28">$2.94</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B11*2.5">85</td>
  <td class=xl29 x:num="2.3529411764705883" x:fmla="=D28">$2.35</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B11*9">306</td>
  <td class=xl29 x:num="1.6339869281045751" x:fmla="=F28">$1.63</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B11*25">850</td>
  <td class=xl29 x:num="1.1764705882352942" x:fmla="=H28">$1.18</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B11*70">2380</td>
  <td class=xl29 x:num="0.84033613445378152" x:fmla="=J28">$0.84</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>41 to 48</td>
  <td class=xl39 style='border-top:none' x:num>28</td>
  <td class=xl29 x:num="3.5714285714285716" x:fmla="=B29">$3.57</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B12*2.5">70</td>
  <td class=xl29 x:num="2.8571428571428572" x:fmla="=D29">$2.86</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B12*9">252</td>
  <td class=xl29 x:num="1.9841269841269842" x:fmla="=F29">$1.98</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B12*25">700</td>
  <td class=xl29 x:num="1.4285714285714286" x:fmla="=H29">$1.43</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B12*70">1960</td>
  <td class=xl29 x:num="1.0204081632653061" x:fmla="=J29">$1.02</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>49 to 56</td>
  <td class=xl39 style='border-top:none' x:num>24</td>
  <td class=xl29 x:num="4.166666666666667" x:fmla="=B30">$4.17</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B13*2.5">60</td>
  <td class=xl29 x:num="3.3333333333333335" x:fmla="=D30">$3.33</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B13*9">216</td>
  <td class=xl29 x:num="2.3148148148148149" x:fmla="=F30">$2.31</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B13*25">600</td>
  <td class=xl29 x:num="1.6666666666666667" x:fmla="=H30">$1.67</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B13*70">1680</td>
  <td class=xl29 x:num="1.1904761904761905" x:fmla="=J30">$1.19</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>57 to 64</td>
  <td class=xl39 style='border-top:none' x:num>21</td>
  <td class=xl29 x:num="4.7619047619047619" x:fmla="=B31">$4.76</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B14*2.5">52.5</td>
  <td class=xl29 x:num="3.8095238095238093" x:fmla="=D31">$3.81</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B14*9">189</td>
  <td class=xl29 x:num="2.6455026455026456" x:fmla="=F31">$2.65</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B14*25">525</td>
  <td class=xl29 x:num="1.9047619047619047" x:fmla="=H31">$1.90</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B14*70">1470</td>
  <td class=xl29 x:num="1.3605442176870748" x:fmla="=J31">$1.36</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>64 to 72</td>
  <td class=xl39 style='border-top:none' x:num>18</td>
  <td class=xl29 x:num="5.5555555555555554" x:fmla="=B32">$5.56</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B15*2.5">45</td>
  <td class=xl29 x:num="4.4444444444444446" x:fmla="=D32">$4.44</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B15*9">162</td>
  <td class=xl29 x:num="3.0864197530864197" x:fmla="=F32">$3.09</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B15*25">450</td>
  <td class=xl29 x:num="2.2222222222222223" x:fmla="=H32">$2.22</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B15*70">1260</td>
  <td class=xl29 x:num="1.5873015873015872" x:fmla="=J32">$1.59</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>73 to 80</td>
  <td class=xl39 style='border-top:none' x:num>16</td>
  <td class=xl29 x:num="6.25" x:fmla="=B33">$6.25</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B16*2.5">40</td>
  <td class=xl29 x:num="5" x:fmla="=D33">$5.00</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B16*9">144</td>
  <td class=xl29 x:num="3.4722222222222223" x:fmla="=F33">$3.47</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B16*25">400</td>
  <td class=xl29 x:num="2.5" x:fmla="=H33">$2.50</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B16*70">1120</td>
  <td class=xl29 x:num="1.7857142857142858" x:fmla="=J33">$1.79</td>
  <td></td>
  <td class=xl45></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl42 style='height:12.75pt'>81 to 88</td>
  <td class=xl39 style='border-top:none' x:num>14</td>
  <td class=xl29 x:num="7.1428571428571432" x:fmla="=B34">$7.14</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B17*2.5">35</td>
  <td class=xl29 x:num="5.7142857142857144" x:fmla="=D34">$5.71</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B17*9">126</td>
  <td class=xl29 x:num="3.9682539682539684" x:fmla="=F34">$3.97</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B17*25">350</td>
  <td class=xl29 x:num="2.8571428571428572" x:fmla="=H34">$2.86</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B17*70">980</td>
  <td class=xl29 x:num="2.0408163265306123" x:fmla="=J34">$2.04</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=17 style='height:12.75pt'>
  <td height=17 class=xl43 style='height:12.75pt'>89 to 96</td>
  <td class=xl39 style='border-top:none' x:num>12</td>
  <td class=xl29 x:num="8.3333333333333339" x:fmla="=B35">$8.33</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B18*2.5">30</td>
  <td class=xl29 x:num="6.666666666666667" x:fmla="=D35">$6.67</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B18*9">108</td>
  <td class=xl29 x:num="4.6296296296296298" x:fmla="=F35">$4.63</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B18*25">300</td>
  <td class=xl29 x:num="3.3333333333333335" x:fmla="=H35">$3.33</td>
  <td class=xl31 style='border-top:none' x:num x:fmla="=B18*70">840</td>
  <td class=xl29 x:num="2.3809523809523809" x:fmla="=J35">$2.38</td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>

 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=107 style='width:80pt'></td>
  <td width=132 style='width:99pt'></td>
  <td width=64 style='width:48pt'></td>
  <td width=132 style='width:99pt'></td>
  <td width=64 style='width:48pt'></td>
  <td width=132 style='width:99pt'></td>
  <td width=57 style='width:43pt'></td>
  <td width=132 style='width:99pt'></td>
  <td width=56 style='width:42pt'></td>
  <td width=132 style='width:99pt'></td>
  <td width=64 style='width:48pt'></td>
  <td width=64 style='width:48pt'></td>
  <td width=64 style='width:48pt'></td>
 </tr>
 <![endif]>
</table>
</div>

  <form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/560545940918382" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
  <table cellpadding="5" cellspacing="0" width="1%">
    <tr>
      <td align="right" width="1%">
        <select name="item_selection_1">
          <option value="1">USD134.00 - $100 worth of Booklets + US$
            Shipping
          </option>
          <option value="2">USD256.00 - $200 worth of Booklets + US$
            Shipping
          </option>
          <option value="3">USD597.00 - $500 worth of Booklets + US$
            Shipping
          </option>
          <option value="4">USD1,172.00 - $1000 worth of Booklets +
            US$ Shipping
          </option>
          <option value="5">USD2,310.00 - $2000 worth of Booklets +
            US$ Shipping
          </option>
        </select>
        <input name="item_option_name_1" type="hidden" value="$100 worth

of Booklets + US$ Shipping"/>
        <input name="item_option_price_1" type="hidden" value="134.0"/>
        <input name="item_option_description_1" type="hidden"
               value="US$100 worth of print copies of your guide in Booklet format (4" wide X 3"

        tall) plus ground shipping to anywhere on continental U.S."/>
        <input name="item_option_quantity_1" type="hidden" value="1"/>
        <input name="item_option_currency_1" type="hidden" value="USD"/>
        <input name="item_option_name_2" type="hidden" value="$200 worth

of Booklets + US$ Shipping"/>
        <input name="item_option_price_2" type="hidden" value="256.0"/>
        <input name="item_option_description_2" type="hidden"
               value="US$200 worth of print copies of your guide in Booklet format (4" wide X 3"

        tall) plus ground shipping to anywhere on continental U.S."/>
        <input name="item_option_quantity_2" type="hidden" value="1"/>
        <input name="item_option_currency_2" type="hidden" value="USD"/>
        <input name="item_option_name_3" type="hidden" value="$500 worth

of Booklets + US$ Shipping"/>
        <input name="item_option_price_3" type="hidden" value="597.0"/>
        <input name="item_option_description_3" type="hidden"
               value="US$500 worth of print copies of your guide in Booklet format (4" wide X 3"

        tall) plus ground shipping to anywhere on continental U.S."/>
        <input name="item_option_quantity_3" type="hidden" value="1"/>
        <input name="item_option_currency_3" type="hidden" value="USD"/>
        <input name="item_option_name_4" type="hidden" value="$1000
worth of Booklets + US$ Shipping"/>
        <input name="item_option_price_4" type="hidden" value="1172.0"/>
        <input name="item_option_description_4" type="hidden"
               value="US$1000 worth of print copies of your guide in Booklet format (4" wide X
        3" tall) plus ground shipping to anywhere on continental U.S."/>
        <input name="item_option_quantity_4" type="hidden" value="1"/>
        <input name="item_option_currency_4" type="hidden" value="USD"/>
        <input name="item_option_name_5" type="hidden" value="$2000
worth of Booklets + US$ Shipping"/>
        <input name="item_option_price_5" type="hidden" value="2310.0"/>
        <input name="item_option_description_5" type="hidden"
               value="US$2000 worth of print copies of your guide in Booklet format (4" wide X
        3" tall) plus ground shipping to anywhere on continental U.S."/>
        <input name="item_option_quantity_5" type="hidden" value="1"/>
        <input name="item_option_currency_5" type="hidden" value="USD"/>
      </td>
      <td align="left" width="1%">
        <input alt=""
               src="https://checkout.google.com/buttons/buy.gif?merchant_id=560545940918382&amp;w=117&amp;h=48&amp;style=trans&amp;variant=text&amp;loc=en_US";

        type="image"/>
      </td>
    </tr>
  </table>
  </form>

</div>