Test printing here.

<!--<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/907231132431549" -->
<form action="https://sandbox.google.com/checkout/api/checkout/v2/checkoutForm/Merchant/149743569739798" 
      id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
    <table cellpadding="5" cellspacing="0" width="1%">
        <tr>
            <td align="right" width="1%">
                <select name="item_selection_1">
                    <option value="1">$300.00 - Printed Guide, 200 items</option>
                    <option value="2">$900.00 - Printed Guide, 1000 items</option>
                </select>
                <input name="item_option_name_1" type="hidden" value="Printed Guide, 200 items"/>
                <input name="item_option_price_1" type="hidden" value="300.0"/>
                <input name="item_option_description_1" type="hidden" value=""/>
                <input name="item_option_quantity_1" type="hidden" value="1"/>
                <input name="item_option_currency_1" type="hidden" value="USD"/>
                <input name="item_option_name_2" type="hidden" value="Printed Guide, 1000 items"/>
                <input name="item_option_price_2" type="hidden" value="900.0"/>
                <input name="item_option_description_2" type="hidden" value=""/>
                <input name="item_option_quantity_2" type="hidden" value="1"/>
                <input name="item_option_currency_2" type="hidden" value="USD"/>
            </td>
            <td align="left" width="1%">
                <!--<input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=907231132431549&amp;w=117&amp;h=48&amp;style=trans&amp;variant=text&amp;loc=en_US" type="image"/>-->
                <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=149743569739798&amp;w=117&amp;h=48&amp;style=trans&amp;variant=text&amp;loc=en_US" type="image"/>
            </td>
        </tr>
    </table>

  <input type="hidden" name="shopping-cart.merchant-private-data" value="color=blue;memory=2gb">
</form>
