Preview and get code<br/>

<div id="choose_style">
<% ["tiny", "small", "normal"].each do |style|  %>
    <label for="preview_type_<%=style%>"><%= style %></label>
    <input type="radio" name="preview_type" value="tiny" id="preview_type_<%=style%>" onchange="change_style(this);"/>
<% end %>
</div>

<br/>

<textarea id="preview_html" rows="8" cols="150">
</textarea>

<div id="preview_guide"></div>

<div id="preview_template" class="hidden">
  &lt;script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript" src="http://0.0.0.0:3000/public.js" &gt;&lt;/script&gt;
  &lt;div id="preview_guide"&gt; &lt;/div&gt;
  &lt;script type="text/javascript"&gt;
      _cal.render_calendar("{target_id}", "{calendar_id}", "{style_id}");
  &lt;/script&gt;
</div>

<script type="text/javascript">
    var change_pane = function(id) {
        $('.preview_area').hide();
        $('#' + id + '_area').show();
    };
    var change_style = function(el) {
        var target_id = "preview_guide";
        var calendar_id = "<%= @calendar.id %>";
        var style_id = el.id.substring("preview_type_".length);

        // prepare code to show
        var html = $('#preview_template').html();
        html = html.replace("{target_id}", target_id);
        html = html.replace("{calendar_id}", calendar_id);
        html = html.replace("{style_id}", style_id);
        html = html.replace(/&lt;/g, '<');
        html = html.replace(/&gt;/g, '>');
        $('#preview_html').val(html);

        _cal.render_calendar(target_id, calendar_id, style_id);
    };

    $('#choose_style').buttonset();
</script>
