@charset "utf-8";
/* CSS Document */

.text {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #666666;
	text-indent: 200px;
}
.subhead {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-large;
	text-transform: uppercase;
	color: #666666;
	background-color: #BFF1F7;
	padding: 5px;
	margin-left: 60px;
	margin-right: 200px;
}
.smalltext {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #666666;
}
.headtext {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #CCCCCC;
}
.textflow {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: large;
	color: #006699;
	text-decoration: underline;
	background-color: #FFCC00;
	background-repeat: no-repeat;
	float: right;
	height: auto;
	width: auto;
	margin-right: 100px;
	padding: 10px;
}
body {
	background-color: #FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #666666;
}
.subheadtable {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	text-transform: uppercase;
	color: #999999;
	font-weight: bold;
}
.navig {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: lighter;
	text-transform: uppercase;
	color: #669999;
	text-align: right;
	text-indent: 100px;
}

.google-image-choices div {
    border: 1px solid #CCCCCC;
    height:100px;
    width:100px;
    float: left;
    margin: 5px;
    opacity: 0.7;
    overflow: hidden;
    padding: 2px;
}

.google-image-choices div.selected {
    height:100px;
    width:100px;
    float: left;
    margin: 5px;
    opacity: 1;
    overflow: hidden;
    padding: 2px;

    background-color: red;
    /*display: table;*/
}

.google-image-choices img {
    /*border:2px;*/
}

.google-image-choices {
    height: 110px;
    width: 500px;
}

.google-image-choices div {
    opacity:0.7;
}
.google-image-choices div:hover {
    opacity:1;
}

.local_result_lat {
    display:none;
}
.local_result_lng {
    display:none;
}
.local_result_url {
    display:none;
}


