<div class="about-guiderer">

  <h1>Who we are</h1>


  <p>We are two guys with one idea: to cover all the nooks of the world with highly segmented travel guides. Lonely
    Planet, the leading travel guide publisher, has 600+ destinations. We want to have 600,000! Megalomaniacal? Maybe,
    but possible now with crowdsourcing and web 2.0.</p>


  <h1>What is Guiderer?</h1>


  <p>Guiderer is here to tell travellers what they should be doing right now. And later on for dinner. And to night.
    Take a guide like Miami for Animals: Since it is a Monday and it is raining, consider some salsa classes at Havana
    Club. After lunch at Renzo´s Subs, check out the freaks on Melrose St., the tattoo street. Concise, chewed, and
    juicy travel tips designed your style of travel.</p>


  <h1>Where did we get the idea for Guiderer?</h1>


  <p>Web 2.0 changed tourism. Sites like Tripadvisor and VirtualTourist made it possible for anyone to recommend or rate
    a place. Everything has been going well, except for one issue: such travel sites polarize travel recommendations,
    making the bigger establishment, or the ones with an active online marketing department, more noticed. All of a
    sudden, hidden little gems have given way to the big brand restaurants, tourist bars and main attractions. The end
    result is a lot of reviews on “Buddy Guy´s Legend Blues Bar” and few on “Mamma Rosa´s blues bar”, when both are of
    equal importance to blues-loving customers visiting Chicago.</p>


  <p>The other issue we noticed is this: a travel attraction is not ideal for everyone, but for specific market
    segments. That means that “Zizi´s Art Gallery” may be a great attraction for culture vultures, but maybe not to the
    traditional frat-boy. Stereo-typing? Pigeon-holeing? Maybe. But then again, you are on vacation, you don´t have time
    to hit-or-miss. A travel guide designed for a specific segment is bound to have tips that appeal to its members. If
    the travel guide creator thinks Zizi´s has an appeal to frat-boys, she´ll put it in.</p>
</div>