<table border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="400">&nbsp;</td>
    <td><p class="textwhite"><span class="subhead">Who we are</span><br />
    </p>
      <p class="textwhite">We are two guys with one idea: to cover all nooks of the  world with highly segmented travel guides. Lonely Planet, the leading travel  guide publisher, has 600+ destinations. We want to have 600,000!  Megalomaniacal? No, just crowd-sourced web 2.0.</p>
      <p class="textwhite"><span class="subheadtablelarge">What is Guiderer?</span><br />
        Guiderer is here to tell travellers what they should be  doing right now. And later on for dinner. And to night. Take Miami for Animals:  Since it is a Monday and it is raining, consider some salsa classes. After  lunch at Renzo´s Subs, check out the freaks on Melrose St., the tattoo street.  Concise, chewed, and secretive travel tips designed your style of travel.</p>
      <p class="textwhite">&nbsp;</p>
      <p class="textwhite"><span class="subheadtablelarge">Where did we get the idea for Guiderer?<br />
        </span>Web 2.0 changed tourism. Sites like Tripadvisor and VirtualTourist  made it possible for anyone to recommend or rate a place. Everything has been  going well, except for one fact: such travel sites polarize travel  recommendations, making the bigger establishment, or the ones with an active  marketing department, more noticed. All of a sudden, hidden little gems have  given way to the big brand restaurants, tourist bars and main attractions. The  end result is a lot of reviews on “Buddy Guy´s Legend Blues Bar” and few on  “Mamma Rosa´s blues bar”, when both are of equal importance to the blues-loving  customers.<br />
        The other angle we noticed is this: a travel attraction is  not ideal for everyone, but for specific market segments. That means that  “Zizi´s Art Gallery” may be a great attraction to culture vultures, but maybe not  to the traditional frat-boy. Stereo-typing? Pigeon-holeing? Maybe. But then  again, you are on vacation, you don´t have time to hit-or-miss. A travel guide  designed for a specific segment is bound to have tips that appeal. If the  travel guide creator thinks Zizi´s has an appeal to frat-boys, she´ll put it  in.</p></td>
  </tr>
</table>



