<div class="about-guiderer">
  <h1>Advertise</h1>

  <h3>You can advertise on Guiderer in a few ways:</h3>

  <p>Run of Site: Get your ad on all the pages and Guiderer guides. <a href="/contact">Contact us</a> for our midia kit.
  </p>

  <!--<p>Location specific: Advertise on every guide for a particular city, state or country.
    <a href="advertisebylocation.html">Click here</a> to advertise by location.</p>-->

  <p>Guide specific: Advertise on every day of a particular Guiderer guide, for instance: Paris for Families. To
    advertise in a specific travel guide, simply click on the &quot;Advertise&quot; link found on the bottom of the
    guide widget.</p>
</div>

