<div class="about-guiderer">
  <h1>Advertise</h1>

  <h3>You can advertise on Guiderer in a few ways:</h3>


  <p>Run of Site: Get your ad on all the pages and Guiderer guides. Contact us for our media kit.</p>


  <p>Local establishments can get more eyeballs to their establishment. Guide specific: Advertise on a particular or in
    a group of Guiderer guides, for instance: in the Paris for Families or in all Paris guides.
  </p>


</div>

