<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="400">&nbsp;</td>
    <td> <p class="textwhite"><span class="subhead">advertise</span><br />
</p><p class="textwhite">You can advertise on Guiderer in a few ways:</p>
      <p class="textwhite">Run of Site: Get your ad on all the pages and Guiderer guides. <a href="contact.html">Contact us</a> for our midia kit.</p>
      <p class="textwhite">Location specific: Advertise on every guide for a particular city, state or country. <a href="advertisebylocation.html">Click here</a> to advertise by location.</p>
      <p class="textwhite">Guide specific: Advertise on every day of a particular Guiderer guide, for instance: Paris for Families. To advertise in a specific travel guide, simply click on the &quot;Advertise&quot; link found on the bottom of the guide widget.</p>
      <p class="textwhite"></p></td>
  </tr>
</table>
