<div class="about-guiderer">
  <h1>FAQ</h1>

  <div>
    <h4>Do I have to fill in all 77 tips in the weekday matrix?</h4>
    No. Fill in what you know. The more the merrier.
  </div>
  <div>
    <h4>Can I finish it later?</h4>
    Sure. Just don't leave it hanging. Neither you nor us will look good.
  </div>
  <div>
    <h4>Can I use images from the web?</h4>
    Yes. We'll pull the images from wherever they are on the web, crediting the site it is on. Just be careful with
    copyrighted materials and authorization.
  </div>
  <div>
    <h4>Can I print a travel guide even though I don't own the images?</h4>
    You will need to seek authorization from each of the owners of the copyrighted materials, such as photos and
    illustrations. We can't get involved in that on your behalf. If your recommendation is positive, the establishment
    is likely to authorize its use.
  </div>
  <div>
    <h4>Can I embed on my site?</h4>
    Yes, simply copy and paste the code on your webpages or blog, and your widget will show up automatically, with the
    current tips according to today's weather.
  </div>
  <div>
    <h4>How much money can I make with the advertising platform?</h4>

    <p>It will depend on your visibility and competition between advertisers. Our system is auction based, so
      advertisers
      have to bid how much they are willing to spend on a CPM basis (cost per thousand impressions). High competition
      means high CPMs, north of US$ 2/CPM.</p>

    <p>My guide got pulled? What happenend?</p>

    <p>We keep our site clean of various politically incorrect topics, such as religion-bashing, sexists and sexual
      orientation topics, political fanatism, terrorism and contraband. You won´t see a “Paris for gay nazi´s” guide,
      with
      tips on how to spray-paint Islamic cemeteries. You´ll get pulled in a jiff.</p>
  </div>
  <div>
    <h4>How many guides can I create?</h4>
    As many as you want to.
  </div>
  <div>
    <h4>What about special dates, like New Year's Eve tips?</h4>
    We have a "special dates" feature for that. You can recommend travel tips on as many special dates as you want.
  </div>
</div>


