<p class="textwhite">&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="400">&nbsp;</td>
    <td><p class="textwhite"><span class="subhead">FAQ</span><br />
    </p>
      <p class="textwhite">                          <strong>Do I have to fill in  all 77 tips in the weekday matrix?<br />
        </strong>No. Fill in what you know. The more the merrier.</p>
      <p class="textwhite"><strong>Can I finish it later?<br />
        </strong>Sure. Just don´t leave it hanging. Neither you nor us will  look good.</p>
      <p class="textwhite"><strong>Can I use images from the web?<br />
        </strong>Yes. We´ll pull the images from wherever they are on the web, crediting the site  it is on. Just be carefull with copyrighted materials and authorization.</p>
      <p class="textwhite"><strong>Can I print a travel guide even though I don’t own the  images?</strong><br />
        You will need to seek authorization from each of the owners  of the copyrighted materials, such as photos and illustrations. We can´t get  involved in that on your behalf. If your recommendation is positive, the  establishment is likely to authorize its use. </p>
      <p class="textwhite"><strong>Can I embed on my site?</strong><br />
        Yes, simply copy and paste the code on your webpages or  blog, and your widget will show up automatically, with the current tips  according to today´s weather.</p>
      <p class="textwhite"><strong>How much money can I make with the advertising platform?<br />
        </strong>It will depend on your visibility and competition between  advertisers. Our system is auction based, so advertisers have to bid how much  they are willing to spend on a CPM basis (cost per thousand impressions). High  competition means high CPMs, north of US$ 2/CPM.<br />
        My guide got pulled? What happenend?<br />
        We keep our site clean of various politically incorrect  topics, such as religion-bashing, sexists and sexual orientation topics,  political fanatism, terrorism and contraband. You won´t see a “Paris for gay  nazi´s” guide, with tips on how to spray-paint Islamic cemeteries. You´ll get  pulled in a jiff.</p>
      <p class="textwhite"><strong>How many guides can I create?<br />
        </strong>As many as you want to.</p>
      <p class="textwhite"><strong>What about special dates, like New Year´s Eve tips?<br />
        </strong>We have a “special dates” feature for that. You can  recommend travel tips on as many special dates as you want.</p>                        <p class="textwhite">&nbsp;</p>                        </td>
  </tr>
</table>
<p class="textwhite">&nbsp;</p>
