<div class="about-guiderer">
  <h1>How Guiderer Works</h1>

  <p>You are an expert in your city. Or geographical area (hamlet, fiord, island, farm, resort etc). We all are. We all
    know a nook of the Earth pretty well, at least according to our sense of what is good. Wouldn't it be great to
    layout a travel guide and share your travel tips with others? It would be based on your local knowledge, catered to
    a specific market segment, the one whose interests you know well.</p>

  <p>Now you can use Guiderer´s travel guide creating solution to structure a local guide in under 30 minutes! Faster
    than a Thighmaster exercise workout!</p>

  <h2>How does it work?</h2>

  <p>You name your guide, identifying your city (or closest) and market segments, for instance: Big Apple for Single
    Ladies.</p>

  <p>You then land on our matrix page. That's where you'll organize your travel tips. </p>

  <p>For each day of the week you'll choose tips on what to do:</p>

  <ul>
    <li>in the morning if sunny</li>
    <li>in the morning if lousy</li>
    <li>for lunch</li>
    <li>in the afternoon if sunny</li>
    <li>in the afternoon if lousy</li>
    <li>for a ritzy dinner</li>
    <li>for a traditional local dinner</li>
    <li>for a cheap dinner</li>
    <li>for clubbing that night</li>
    <li>for live music that night</li>
    <li>for a relaxing night</li>
  </ul>


  <p>And that's it. Eleven bits of info for each day of the week, totaling 77. The rest of the info such as photos,
    address, URLs, emails, telephones etc are "auto-guessed" by our smart engine, so you just select the right
    guesses.</p>

  <h2>Distribute it</h2>

  <p>Once you are done, you can do tons of things with this guide:</p>

  <ul>
    <li>Make it public on our site, so our visitors can view it</li>
    <li>Embed on your webpage or blog</li>
    <li>Share on Facebook and other social networks</li>
    <li>Announce it via Twitter, to your followers</li>
    <li>Access it via our Iphone App (coming soon)</li>
  </ul>

  <h2>Make advertising dollars!</h2>

  <p>You can make money from your travel guide! Yes! Simply make "advertisable" and local establishments can have a
    chance to advertise their establishment in between your travel tips, in a “sponsored listing” area. You get paid by
    CPM or Click. The more visible your guide, the more you make.</p>

  <h2>Print your guide</h2>

  <p>Whats more, and amazing, is that you will soon be able to print your travel guide straight from our site! Your 63
    bits of info becomes a 128 page booklet that you can have printed in our facilities in batches of 1000, 5000, 10000.
    You'll publish your travel tips for under US$ 899!</p>

  <h2>Auto-marketer</h2>

  <p>And finally, with our “Auto-marketer” solution, you can email all the establishments in your guide your visbility
    stats, so that they can know that you are helping them get noticed. This can turn into donations, free dinners or a
    partnership or two.</p>
</div>


