<div class="about-guiderer">


  <h1>How Guiderer Works</h1>

  <p>You are an expert on your city. We all are. We all know a small part of the Earth pretty well, at least according
    to our sense of what is good. Wouldn't it be great to layout a travel guide and share your travel tips with others?
    It would be based on your local knowledge, catered to a specific market segment, the one whose interests and tastes
    you know well.</p>


  <p>Now you can use Guiderer´s travel guide creating solution to structure a local guide in under 30 minutes! Not bad,
    considering most travel publishers take 8 months to put one together.
  </p>


  <h2>How does it work?</h2>


  <p>You name your guide, identifying your city (or closest) and define the market segment you are writing for, for
    instance: Istanbul for Single Ladies.
  </p>


  <p>You then land on the Point of Interest Creation Page. Here you name the establishments or attraction that you
    recommend. Our engine will find the street address, phone number, website and map location. You just need to add a
    line or two stating the reason why you recommend it. Once you hit Create Point of Interest, it drops that tip on the
    Day tour schedule. You can then drag that tip around till it is in it´s ideal place on your guide: for instance:
    Garka Beach goes on 2nd day, sunny day schedule.
  </p>


  <p>You then repeat that for each of the tip you want in your guide. Once you are done creating your guide, you can
    view your guide in a single page, with all the day tours and tips mapped out.
  </p>


  <h2>Once you are done, you can do tons of things with this guide:</h2>


  <ul>
    <li>Make it public on our site, so our visitors can view it</li>

    <li>Embed on your webpage or blog</li>

    <li>Share on Facebook and other social networks</li>

    <li>Announce it via Twitter, to your followers</li>

    <li>Print a booklet version of it by ordering 200 or 500 copies for as low as US$100!</li>

    <li>Access it via our iPhone App (coming soon)</li>

    <li>Make advertising dollars by allowing others to advetise on it!</li>

    <li>Make affiliate revenue by listing nearby hotels from Booking.com</li>
  </ul>


  <h2>Allow advertisers and make money:</h2>


  <p>You can make money from your travel guide! Yes! Simply make "advertisable" and local establishments can have a
    chance to advertise their establishment in between your travel tips, in a “sponsored listing” area. You get paid by
    CPM or Click. The more visible your guide, the more you make.
  </p>


  <h2>Print your guide:</h2>


  <p>Whats more, is that you can print your travel guide straight from our site! Your 24 tips becomes a 48 page booklet
    that you can have printed in our facilities in batches of 1000, 5000, 10000. You'll publish your travel tips for as
    low as US$ 89!
  </p>


  <h2>Auto-marketer</h2>


  <p>And finally, with our “Auto-marketer” solution, you can email all the establishments in your guide your visibility
    stats, so that they can know that you are helping them get noticed. This can turn into donations, free dinners or a
    partnership or two.
  </p>
</div>


