<p class="textwhite">&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="400">&nbsp;</td>
    <td><p class="textwhite"><span class="subhead">Come join us!</span><br />
    </p>
      <p class="textwhite">We code hard, and play hard. Heck, we are in Rio! There is  no other way. We are a small company, with big goals. If you join us, you´ll  help us steer this ship, and not just row.<br />
        We are looking for:<br />
      </p>
      <ul>
        <li class="textwhite">Public Relations<br />
        </li>
        <li class="textwhite">Marketing Assistants<br />
        </li>
        <li class="textwhite">Graphic Designers<br />
        </li>
        <li class="textwhite">De-buggers</li>
      </ul>
      <p class="textwhite"><br />
        And of course, investors. <br />
        Know of one? Like our project? Hook us up! We´ll make it  worth your while…</p></td>
  </tr>
</table>
<p class="textwhite">&nbsp;</p>
