<div class="about-guiderer">
  <h1>Come join us!</h1>

  <p>We code hard, and play hard. Heck, we live in Rio! There is no other way. We are a small company, with big goals.
    If you join us, you´ll help us steer this ship, and not just row.
  </p>


  <p>We are looking for:</p>


  <ul>
    <li>Public Relations</li>

    <li>Marketing Assistants</li>

    <li>Graphic Designers</li>

    <li>De-buggers</li>

    <li>And of course, investors</li>
  </ul>

  <p>Know of one? Like our project? Hook us up! We’ll make it worth your while…</p>


</div>

