<div class="no-tip-tile" align="center">
  <% if @full_access %>
    <button type="button" onclick="tips.create($(this).parents('.tip-container'), <%=condition.id%>, <%=day.id%>, 'show_tile');">
      create tip
    </button>
  <% else %>
    no tip
  <% end %>
</div>
