<div class="guiderer-data" style="display:none;">
  <% @calendar.tips.each do |tip| %>
      <div class="guiderer-tip-data" data-name="<%=h tip.name%>" data-lat="<%=tip.address.lat%>" data-lng="<%=tip.address.lng%>"></div>
  <% end %>
</div>

<%= yield %>
